/* Navbar.css */

.navbar {
  height: max(80px, 5vw);
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Added for positioning of mega menus */
}

.navbar a {
  text-decoration: none;
  color: #001120;
}

.logo {
  content: url("../../../assets/nav/logoL.png");
}

.nav-links {
  display: flex;
  align-items: center;
  gap: max(20px, 2.5vw);
  position: relative; /* Added for positioning of mega menus */
}

.nav-links a {
  font-size: max(12.5px, 0.9vw);
  display: flex;
  align-items: center;
  gap: max(15px, 1vw);
}

.nav-auth {
  align-items: center;
  gap: max(20px, 2vw);
  font-size: max(12px, 0.8vw);
}

.arr-down {
  content: url("../../../assets/nav/Icon\ ionic-ios-arrow-down.svg");
}

.sun {
  content: url("../../../assets/nav/Icon\ ionic-ios-sunny.png");
}

.headphone {
  content: url("../../../assets/nav/Icon\ feather-headphones.svg");
}

.contact {
  gap: max(12px, 0.8vw);
  border: 1px solid #6d6c7f;
  width: max(110px, 7vw);
  height: max(40px, 2.5vw);
  border-radius: max(20px, 2.5vw);
}

.sign-up {
  width: max(100px, 7vw);
  height: max(40px, 2.5vw);
  background-color: #2247ed;
  border-radius: max(20px, 2.5vw);
  color: #fff !important;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.line {
  width: 30px;
  height: 4px;
  background: #000;
}

.line2 {
  margin: 5px 0;
}

.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: none; /* Initially hide mega menu */
  border-radius: 20px;
}

.mega-menu-item:hover .mega-menu {
  display: block;   
}

@media (max-width: 1200px) {
  .contact{
      display: none;
  }
}

@media (max-width: 1024px) {
  .nav-links{
      display: none;
  }

  .nav-auth{
      display: none;
  }
  .hamburger{
      display: block;
  }
}