.navbar {
  height: max(80px, 5vw);
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #001120;
}

.logo {
  content: url("../../../assets/nav/logoL.png");
}

.nav-links {
  display: flex;
  align-items: center;
  gap: max(20px, 2.5vw);
}

.nav-links a {
  font-size: max(12px, 0.85vw);
  display: flex;
  align-items: center;
  gap: max(15px, 1vw);
}

.nav-auth {
  align-items: center;
  gap: max(20px, 2vw);
  font-size: max(12px, 0.8vw);
}

.arr-down {
  content: url("../../../assets/nav/Icon\ ionic-ios-arrow-down.svg");
}

.sun {
  content: url("../../../assets/nav/Icon\ ionic-ios-sunny.png");
}

.headphone {
  content: url("../../../assets/nav/Icon\ feather-headphones.svg");
}

.contact {
  gap: max(12px, 0.8vw);
  border: 1px solid #6d6c7f;
  width: max(110px, 7vw);
  height: max(40px, 2.5vw);
  border-radius: max(20px, 2.5vw);
}

.sign-up {
  width: max(100px, 7vw);
  height: max(40px, 2.5vw);
  background-color: #2247ed;
  border-radius: max(20px, 2.5vw);
  color: #fff !important;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.line {
  width: 30px;
  height: 4px;
  background: #000;
}

.line2 {
  margin: 5px 0;
}

@media (max-width: 1190px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 3.8%;
    top: 1.5%;
  }

  .navbar {
    flex-direction: column;
    align-items: start;
  }
  .nav-links {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 20px 0;
    
  }

  .nav-links a {
    width: 100%;
    font-size: max(20px, 1.5vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
  }
  .nav-links a:hover {
    background-color: #2247ed;
    
    border-radius: max(5px, 0.5vw);
  }

  .nav-auth {
    width: 100%;
  }

  .nav-links-hidden {
    display: none;
  }

  .nav-links-visible {
    display: flex;
  }
}
