.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bn-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: max(20px, 1.5vw);
    text-align: center;
    margin: 5% 0 2.5% 0;
}

.bn-info h1{
    margin: 0;
    font-size: max(40px, 3.25vw);  
}
.bn-info p{
    width: 70%;
    font-size: max(15px, 0.9vw);
}
span{
    color: #2247ed;
    font-weight: bolder;
}

.banner-btn{
    display: flex;
    gap: max(40px, 2vw);
}

.btn-start{
    width: max(140px, 8vw);
    height: max(40px, 3vw);
    background-color: #2247ed;
    border-radius: 50px;
    color: white !important;
}

.banner-btn a{
    text-decoration: none;
    color: #000;
}

.play-link{
    display: flex;
    gap: max(10px, 0.75vw);
}

.play-btn{
    width: max(40px, 3vw);
    height: max(40px, 3vw);
    border-radius: 50%;
    background-color: darkgray;
}

.dashboard{
    content: url("../../../assets/banner/dashboard.png");
    width: 80%;
}

.rocket-left{
    content: url("../../../assets/banner/63317ac7d01955a26badf7d3_Group\ 1000002628.png");
    width: 20%;
}
.rocket-right{
    content: url("../../../assets/banner/636b64f18c4c671e6e8948f5_flt01\ 1\ \(1\).png");
    width: 20%;
}

.img-banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
}
