.advetiser-menu{
    display: flex;
}
.layout {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: max(20px, 3vw);
    padding: 2% 0;
  }
  
  .layout-item {
    display: flex;
    gap: max(10px, 1vw);
    width: 40%;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .info-layout {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: max(11px, 0.7vw);
  }
  
  .info-layout p {
    margin: 0;
    font-size: max(14px, 0.8vw);
  }
  
  .service-info {
    flex: 1;
  }
  
  .icon-layout{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .layout-item:hover .icon-lyt{
    background-color: #3959eb;
  }
  
  .icon-lyt{
    width: max(40px, 3vw);
    height: max(40px, 3vw);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 244, 246);
  }